@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #ffffff;
}


:root {
  --scrollbar-width: 10px;

  /* Darker shades */
  --scrollbar-thumb-color: rgba(75, 85, 99, 0.6);   /* Slate-600-ish */
  --scrollbar-thumb-hover: rgba(75, 85, 99, 0.9);
  --scrollbar-track-color: rgba(31, 41, 55, 0.3);   /* Gray-800-ish */
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}
